/* suavizando a rolagem */

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(32, 32, 32); 
}

.col {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-top: 20px;
	background-color: rgb(212, 211, 211);
}


.col h1 {
	margin-top: 20px;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}
